<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Web 2023</title>
	<!--     <link rel="stylesheet" href="style.css">      ------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="styleprofile.css" rel="stylesheet" type="text/css">
<link href="sidebar.css" rel="stylesheet" type="text/css">
<link href="navbar.css" rel="stylesheet" type="text/css">
<script src="profilebuttons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="ajax_req2.js"></script>









</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
					<a class='hello' style="color:#e7e4e4; font-size: 20px; ">	Welcome , <%= name %> </a>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a class="active" href="profile">Profile</a></li>
					<li class="btn-with-image">
						<a href="#">
							<%= total_tokens %>
						  <img src="star.png" class="hover-image">

						</a>
					  </li>
					<li><a href="/logout" class="btn btn-danger">Logout</a></li>

				</ul>
			</nav>


			<ul class="centered-list">
				<li>Your current Username is : <%=name%></li>
			</ul>

			<ul class="centered-list2">
				<li>Your current Password is : <%=password%></li>
			</ul>

			<div class="form">
                <form style=" width: 400px;" method="POST" action="/changepassword">
                    <div class="field"><input style="width: 400px;" name="newname" type="text"
                            placeholder="New Username" required>
                    </div>
                    <div class="field"><input style="width: 400px;" name="newpassword" type="password"
                            placeholder="New Password" required>
                    </div>

                    <div style="padding-top: 40px;" class="d-grid gap-2">
                        <input class="btn btn-primary" type="submit" value="Confirm new information"></input>
                    </div>
                </form>
            </div>


 <% if (locals.password_validation_errors) { %>
            <% locals.password_validation_errors.forEach(function (error_msg) { %>
                <div class="alert alert-warning" role="alert">
                    <%= error_msg %>
                </div>
            <% }); %>
        <% } %>




		</div>







		<div class="sidebar">
			<!-- Sidebar content goes here -->
			<div class="button-container">
				<ul <button class="sidebar-button" id="likes">Likes</button> </ul>
				<ul <button class="sidebar-button" id="dislikes">Disikes</button> </ul>
				<ul <button class="sidebar-button" id="discountHisory">Discount History</button> </ul>
				<ul <button class="sidebar-button" id="totalScore">Total Score</button> </ul>
				<ul <button class="sidebar-button" id="ScoreOfMonth">Score of the Month</button> </ul>
				<ul <button class="sidebar-button" id="PrevTokensMonth">Tokens Previus Month</button> </ul>
				<ul <button class="sidebar-button" id="allTokens">All Tokens</button> </ul>

			</div>



		</div>


		<div id="resultContainer"></div>



    </body>
